Repository EngineeringGuild/my-personal-website-eng-guild-template, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, config, bug, feature, refactor, test

Refactor(typescript): complete TypeScript migration for all components and pages
  components/DarkModeToggle.tsx
  components/Layout.tsx
  components/MetaTags.js
  components/MetaTags.tsx
  components/Navigation.js
  components/Navigation.tsx
  components/SocialIcons.js
  components/SocialIcons.tsx
  components/layout.js
  context/NavigationContext.js
  context/NavigationContext.tsx
  hooks/useLocalStorage.js
  hooks/useLocalStorage.ts
  next.config.js
  next.config.ts
  package-lock.json
  package.json
  pages/_app.js
  pages/_app.tsx
  pages/about.tsx
  pages/biography.js
  pages/biography.tsx
  pages/index.js
  pages/index.tsx
  pages/menu.js
  pages/menu.tsx
  pages/projects.tsx
  tsconfig.json
  types/index.ts
Labels: frontend, backend, config

Fix(typescript): resolve TypeScript compilation error in Layout component
  components/Layout.tsx
Labels: frontend

Feat(navigation): implement persistent navigation bar with smooth expansion and Supabase integration
  components/Layout.tsx
  components/Navigation.tsx
  context/NavigationContext.tsx
  docs/SETUP_GUIDE.md
  docs/SUPABASE_SCHEMA.md
  docs/SUPABASE_SETUP_COMPLETE.md
  env.example
  hooks/useApi.ts
  hooks/useAuth.ts
  hooks/useLocalStorage.ts
  lib/auth.ts
  lib/supabase.ts
  next.config.ts
  package-lock.json
  package.json
  pages/about.tsx
  pages/api/biography/[stage].ts
  pages/api/profile.ts
  pages/api/projects.ts
  pages/biography.tsx
  pages/index.tsx
  pages/menu.tsx
  pages/projects.tsx
  scripts/automate-setup.js
  scripts/automated-setup.md
  scripts/clean-duplicates.js
  scripts/clean-setup.sql
  scripts/mcp-commands.sql
  scripts/mcp-setup.js
  scripts/setup-automated.js
  scripts/setup-database.sql
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/rest-version
  tsconfig.json
  tsconfig.tsbuildinfo
  types/index.ts
Labels: frontend, backend, docs, config

Feat(design): implement Engineering Guild branding with green color palette
  components/DarkModeToggle.tsx
  components/Layout.tsx
  components/Navigation.tsx
  components/SocialIcons.tsx
  docs/IMPROVEMENT_ROADMAP.md
  pages/index.tsx
  styles/globals.css
Labels: frontend, docs

Feat(mobile): optimize mobile responsiveness and enhance About page
  components/Layout.tsx
  components/Navigation.tsx
  pages/about.tsx
  pages/index.tsx
Labels: frontend

.github/labeler.yml:

# .github/labeler.yml
# Auto-labeling configuration for issues and pull requests
# Labels by file path
frontend:
  - 'components/**'
  - 'pages/**'
backend:
  - 'api/**'
  - 'context/**'
docs:
  - 'docs/**'
  - '*.md'
  - '.github/ISSUE_TEMPLATE/**'
  - '.github/pull_request_template.md'
config:
  - '*.config.js'
  - '.github/**'
  - 'package.json'
  - 'postcss.config.js'
  - 'tailwind.config.js'
  - 'next.config.js'
# Labels by keywords in title/body
bug:
  - 'bug'
  - 'fix'
feature:
  - 'feature'
  - 'enhancement'
refactor:
  - 'refactor'
  - 'cleanup'
test:
  - 'test'
  - 'unit test'
  - 'integration test'
